<mat-card>
    <mat-card-header>
        <mat-card-title>Node {{ node.name }} Configuration</mat-card-title>
      </mat-card-header>
    <mat-card-content style="margin-top: 16px;">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Node Name</mat-label>
                <input matInput placeholder="Receiver 1" [value]="node.name" (keyup)="updateNodeName($event)">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>IP Address</mat-label>
                <input matInput placeholder="192.168.0.1" [value]="node.ip" (keyup)="updateNodeIP($event)">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Position</mat-label>
                <mat-select [(value)]="node.position" (selectionChange)="onPositionChange()">
                    <mat-option [value]="-1">None</mat-option>
                    <mat-option [value]="0">Top left</mat-option>
                    <mat-option [value]="2">Top right</mat-option>
                    <mat-option [value]="1">Bottom left</mat-option>
                    <mat-option [value]="3">Bottom right</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>