<div class="node-card">
  <mat-card class="node-card">
    <mat-card-header>
      <mat-card-title>{{ name }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>Status: {{ status }}</p>
      <p>RCV Counter: {{ rcvCounter }}</p>
      <p>Last TOA: {{ lastToa }}</p>
    </mat-card-content>
<!--    <mat-card-actions>-->
<!--      &lt;!&ndash; Add any actions you want here &ndash;&gt;-->
<!--      <button mat-button>DETAILS</button>-->
<!--    </mat-card-actions>-->
  </mat-card>

<!--  <h3>{{ name }}</h3>-->
<!--  <p>Status: {{ status }}</p>-->
<!--  <p>RCV Counter: {{ rcvCounter }}</p>-->
<!--  <p>Last TOA: {{ lastToa }}</p>-->
</div>

